<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm.dao.AddressDao">
    
    <resultMap id="resultMap" type="Address">
        <id property="id" column="t_id"/>
        <result property="name" column="t_name"/>
        <association property="user" column="t_user_id" javaType="User" select="com.sm.dao.UserDao.findById">
            <id property="id" column="t_id"/>
            <result property="name" column="t_name"/>
            <result property="age" column="t_age"/>
        </association>
    </resultMap>
    
	<select id="findById" parameterType="java.lang.Integer" resultMap="resultMap">
        select * from t_address where t_id = #{id}
    </select>

    <select id="findAll" resultMap="resultMap">
        select * from t_address
    </select>

    <select id="findByUserId" resultMap="resultMap">
        select * from t_address where t_user_id = #{userId}
    </select>

    <insert id="addAddress" parameterType="Address" >
        insert into t_address(t_name, t_user_id) values(#{address.name}, #{address.user.id})
    </insert>

    <update id="updateAddress" parameterType="Address">
        update t_address set
        <if test="address.name != null">
            t_name = #{address.name}
        </if>
        where t_id = #{address.id}
    </update>

    <delete id="deleteAddress" parameterType="java.lang.Integer">
        delete t_address where t_id = #{id}
    </delete>




</mapper>
